body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container1 {
    display: flex;
    justify-content: space-between;
    background-color: #89cbeb;
    color: white;
    padding: 10px;
    padding-right: 30px;
    align-items: center;
  }
  
  .logo h1 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0;
  }
  a{
    text-decoration: none;
  }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.1rem;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
  }
  
  .menu a:hover {
    color: #205488;
  }
  
  .content {
    padding: 20px;
  }
  